<div class="jumbotron">
  <h1 class="display-4">Welcome to App Blog</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/register" role="button">Create an account</a>
  </p>
</div>
<hr>
<h2>Recent Posts:</h2>

{{#each posts}}
<div class="card">
  <div class="card-body mt-4">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <p>{{content}}</p>
      <hr>
      <a href="/post/{{slug}}"><button class="btn btn-success">Read more</button></a><br>
      <small>Category: {{category.name}}</small><br>
      <small>Publish date: {{date}}</small>
  </div>
</div>
{{else}}
  <h5>There is no posts yet!</h5>
{{/each}}